.wrapper {
    padding-top: 5rem;
    margin: 0.1rem 7rem;
    font-size: 150%;
    min-height: 110vh;
    
    
}
.wrapper h1 {
    color: white;
    font-weight: bolder;
    font-size: 250%;
    
}


 .content {
    display: grid;
    margin-top: 4rem;
    border-top: 1px solid white;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

 }

 .project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 @media (max-width: 700px) {

    .wrapper {
        margin: 0.1rem 2.5rem;
        min-height: 100vh;
        margin: auto;
    }
    
    .wrapper h1 {
        font-size: 160%;
        margin-left: 3%;
    }
    .content {
        grid-template-columns: 1fr;

    }

 }

