
.navbar { 
  margin: auto; 
 padding: 2rem;
  width: 100%;
  max-height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 999999;
  position: relative;
  font-size: 2rem;


}


.navbar a {
  color: #fff;
  text-decoration: none;
}





.list li {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.list li::after {  /*pseudo element  below the content*/
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list li:hover::after {
   transform: scaleX(1); /*display ::after element */
  transform-origin: bottom left;
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navbar input,
.navbar label {
  display: none;
  
}
/*MOBILES*/
@media (max-width: 700px) {  

   .menu {
    display: none;
    overflow: hidden;
    width: 100%;
   }


  .navbar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      z-index: 99;

  }
  .navbar label p {
      color: white;
      font-size: 150%;
      z-index: -10;

  }
  .navbar label p:hover {
      color:  lightgrey;
  }
  

}
