/*MY STYLES*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html,
body {
  background-color: #234e70;
  /*max-width: 5000px; margin: auto + max-width daje rowne marginy po bokach*/
  /* margin: auto; */
  /* height: 100%; */
  /* /* max-width: 100%; */
  /* min-height: 100vh;
  margin: 0 auto;  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

/*ROZDZIAŁKI DOBRE:*/
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/*
idk co to niech zostanie narazie
@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} } */
